<div class="container">
  <div class="row">
    <h1>Découvre des exercices adaptés à ton envie de Botobo !</h1>
    <ul class="cards-exercices">
      <% @exercices.each do |exercice| %>
        <li>
          <%= link_to exercice_path(exercice) do %>
            <div class="exercice-image">
              <% if exercice.photo.attached? %>
                <%= cl_image_tag exercice.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <%= image_tag "default_exercice_image.jpg", size: "300x200", alt: "Image par défaut" %>
              <% end %>
            </div>
            <div class="exercice-info">
              <i class="fa-solid fa-fire-alt"></i> <%= exercice.duration %> minutes
              <span class="exercice-name"><%= exercice.name %></span>
              <span class="exercice-description"><%= exercice.description %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Créer un exercice", new_exercice_path, class: "btn btn-secondary" %>
  </div>
</div>
