

<div class="container">
  <div class="row">
    <div class="col-6">
    <%= if policy (Exercice).create?%>
      <h1>Ajoute un exercice !</h1>
      <%= simple_form_for(@exercice) do |f| %>
  <%= f.input :name, label: false, placeholder: "Nom" %>
  <%= f.input :description, label: false, placeholder: "Description" %>
  <%= f.input :difficulty_level, label: false, placeholder: "Niveau de difficulté de l'exercice" %>
  <%= f.input :duration, label: false, placeholder: "Durée de l'exercice" %>
   <%= f.input :photo, as: :file %>
   <%# <div>
    <h1>Télécharge ton fichier</h1>
    <div>
      <button id="upload_widget" class="cloudinary-button">Upload files</button>
    </div> %>
  <%# </div> %>
  <%# <%= f.input :video_url, label: false, placeholder: "URL de la vidéo" %>
  <%# <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%# <%= f.input :videos, as: :file, input_html: { multiple: true } %>
  <%# <%= f.association :categories,
                    as: :check_boxes,
                    input_html: { class: "tag-selector" },
                    item_wrapper_class: 'tag-item' %>
        <%= f.button :submit, class: "btn-primary", value: "Enregistrer" %>
      <% end %>
        <%= link_to 'Retour aux exercices', exercices_path, class: "btn-secondary" %>
      <% end %>
    </div>
    <div class="col-6">
      <div class="image-container">
        <%= image_tag("banner2.jpg", alt: "Image de l'exercice") %>
      </div>
    </div>
  </div>
</div>
