<div class="container mt-4">
   <div class="row">
    <div class="col">
      <h3><%= @exercice.name %></h3>
      <div class="text-center">
        <div class="row justify-content-evenly">
          <div class="col-4">
            <p> <i class="fa-solid fa-fire-alt"></i> <%= @exercice.description %></p>
            <%= @exercice.photo%>
          </div>
          <div class="col-4">
            <p><%= icon('fa-regular', 'bell')%> <%= @exercice.duration %> minutes</p>
             <a href="/exercices/new" class="btn btn-secondary">Crée un exercice</a>
          </div>
          <%= link_to "Back to all exercices", exercices_path %>

        </div>
      </div>
    </div>
