<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h3><%= @exercice.name %></h3>
      <div class="text-center">
        <div class="row justify-content-evenly">
          <div class="col-md-4">
            <p><%= icon('fa-regular', 'bell') %> <%= @exercice.duration %> minutes</p>
            <p><i class="fa-solid fa-fire-alt"></i> <%= @exercice.description %></p>
            <% if @exercice.photo.attached? %>
              <%= cl_image_tag @exercice.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag "default_exercice_image.jpg", alt: "Default Image", class: "img-fluid" %>
            <% end %>
          </div>
          <div class="col-md-4">
            <a href="/exercices/new" class="btn btn-secondary">Créer un exercice</a>
          <% if policy(@exercice).edit? %>
          <%= link_to "Modifier cet exercice", edit_exercice_path(@exercice), class: "btn btn-primary" %>
          <% end %>

            <%= if policy(Exercice).destroy?%>
          <%= link_to "Supprimer cet exercice",
            exercice_path(@exercice),
            data: {turbo_method: :delete, turbo_confirm: "Etes vous sur?"}
          %>
          <% end %>
          </div>
        </div>
      </div>
      <%= link_to "Retour vers les exercices", exercices_path, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>

